nav {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  color: white;
  background-color: #034d4d;
}

nav a {
  color: white;
}

nav a:hover {
  color: #eeeeee;
}

nav h1 {
  margin: 0;
  text-align: start;
}
